body, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.header {
    min-width: 1024px;
}
@media (max-width: 1024px) {
    .header{
        overflow: scroll;
    }
}
.header div, .body div{
    display: inline-block;
    width: 24.5%;
    min-width: 252.25px;
    text-align: left;
    color: #4e7cb9;
}
.body div {
    color: #000;
}
.content {
    padding: 10px;
}
